
<html ng-app="timeSheetApp">
<head>
	<title>TimeSheet NT</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="libs/angular.min.js"></script>
</head>
<body ng-controller="timesheetController">
	<div class="wrapper">
	<h1>TimeSheet NT</h1>
	<div class="row-3">
		<p>Colaborador</p>
		<input type="text" class="input-pessoa" ng-model="colaborador"/>
	</div>
	<div class="row-3">
		<p>Setor</p>
		<select ng-model="setor" class="select">
                <option value="mobile">Desenvolvimento Mobile</option> 
                <option value="web">Desenvolvimento Web</option>
                <option value="adm">Administrativo</option>
                <option value="gerais">Serviços Gerais</option>
        </select>
	</div>
	<div class="row-3">
		<p>Mês</p>
		<select ng-model="mes" class="select">
                <option value="1">Janeiro</option> 
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
				<option value="4">Abril</option>
                <option value="5">Maio</option>
				<option value="6">Junho</option>
				<option value="7">Julho</option>
				<option value="8">Agosto</option>
				<option value="9">Setembro</option>
				<option value="10">Outubro</option>
				<option value="11">Novembro</option>
				<option value="12">Dezembro</option>
			</select>
		</div>
		<div class="row-3">
			<p>Ano</p>
			<select ng-model="ano" class="select">
                <option value="2005">2005</option> 
				<option value="2006">2006</option> 
				<option value="2007">2007</option> 
				<option value="2008">2008</option> 
				<option value="2009">2009</option> 
				<option value="2010">2010</option> 
				<option value="2011">2011</option> 
				<option value="2012">2012</option> 
				<option value="2013">2013</option> 
				<option value="2014">2014</option> 
				<option value="2015">2015</option> 
        	</select>
		</div>
	<div class="wrapper-button">
		<button ng-click="buscarPlanilha();">Buscar</button>
	</div>
	<br>
	<br>
		<button ng-click="salvarPlanilha();" class="botaosalvar">Salvar</button>
	<table>
	  <tr>
	    <th>Data</th>
	    <th>Entrada Manhã</th>		
	    <th>Saida Manhã</th>
	    <th>Entrada Tarde</th>
	    <th>Saida Tarde</th>
	  </tr>
	  <tr ng-repeat="(key, value) in listaHorarios">		  
	  	<td ng-bind="value.data | date:'dd/MM/yyyy'"></td>
	  	<td><input class="input-tabela" type="time" ng-model="value.entradaManha"/></td>
	  	<td><input class="input-tabela" type="time" ng-model="value.saidaManha"/></td>
	  	<td><input class="input-tabela" type="time" ng-model="value.entradaTarde"/></td>
	  	<td><input class="input-tabela" type="time" ng-model="value.saidaTarde"/></td>
	  </tr>
	</table>
	</div>
	<script type="text/javascript" src="index.js"></script>
	<script type="text/javascript" src="timeSheet.controller.js"></script>
	<script type="text/javascript" src="timeSheet.service.js"></script>
</body>
</html>